.app {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it appears above everything else */
    pointer-events: none; /* Allow interactions with elements below the overlay */
}

.schedule-grid {
    position: relative;
    z-index: 1000; /* Ensure the schedule is above the overlay */
}